* .pyc
__pycache__
gaze_data.json
head_data.json
*.pt
*.pth
*.pth.tar
req.txt
impressions.json
requirements_OE.txt
*.avi
video_s.mp4
stats_data.json
*.csv
*.mp4
*.jpg
*.pth.zip
*.zip
qiyas.alerts.json
qiyas.camera.json
*.h5
*.onnx
/frontend/node_modules
hand_raised_try_fastervit.py
hand_raised_try.py
debug_dir
extra_classifiers
wrapper_runner.py
video_feed_runner.py