:root {
    --purple: rgb(30, 22, 86);
    --blue: rgb(42, 110, 187);
    --pink: rgb(149, 45, 152);
    --lightpink: rgb(114, 46, 165);
    --cyan: rgb(68, 200, 245);
    --gray: rgb(128, 130, 133)
}

.headerDenseMain {
    /* font-family: 'DINArabic_Medium'; */
    background: #fff;
    position: relative;
    /* transition: all .5s ease; */
}

.headerDense {
    background-color: #fff !important;

}

.sidebarMain {
    /* font-family: 'DINArabic_Medium'; */
}

/* .uploadCarImages{
    font-family: 'DINArabic_Medium';
} */


/* .drawerItemText span {
    font-family: 'DINArabic_Regular';
} */

/* .drawerItemActive span {
    font-weight: bold !important;
} */

/* .showHeaderButton {
    background: #fff;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
} */

/* .logoBox {
    height: 100%;
    width: 10%;
} */

/* .headerLogo {
    height: 100%;
    width: 100px;
    object-fit: contain;
} */

/* .PagesNameParentDiv {
    flex: 1;
    color: black;
    height: 90px !important;
    padding-left: 30px;
} */

/* .PagesNameParentDiv ul {
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;

} */

/* .PagesNameParentDiv ul li,
.headerItem {
    position: relative;
    color: var(--gray);
    list-style: none;
    padding: 4px 0px;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease .2s;
    background: transparent;
    z-index: 1;
    width: max-content;
} */


/* .PagesNameParentDiv ul li::before,
.headerItem::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 110%;
    top: 0px;
    opacity: 0;
    right: 0;
    bottom: 0;
    left: -5px;
    z-index: -1;
    background: var(--gray);
    transform: skew(-30deg);
    transition: all ease-in-out .2s;
} */

/* .PagesNameParentDiv ul li:hover::before,
.headerItem:hover::before {
    opacity: 1;
    transition: all ease-in-out .2s;
} */

/* .PagesNameParentDiv ul li:hover,
.headerItem:hover {
    color: #fff;
    font-weight: none;
    background: transparent;
} */

/* .activePage {
    position: relative;
    border: none;
    border-bottom: 1px solid;
    font-weight: bold;
} */

/* .downloadbox {
    color: #000;
    cursor: pointer;
} */

/* .downloadbox:hover {
    color: #FF00FF;
    font-weight: bold !important;
} */

/* .leftAlign {
    text-align: left;
} */


.sideBarDeskItem {
    border-radius: 10px;
    /* height: 60px; */
    margin-top: 5px;
    margin-bottom: 4px;
    padding: 10px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.selectDeskText {
    /* font-weight: bold; */
}

.attentionAlertCountText {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif
}

.sideBarDeskItem.active {
    background: rgb(178, 231, 255);
}

.sideBarDeskItem.flash {
    /* background: red !important; */
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        /* background: rgb(178, 231, 255); */

    }

    50% {
        background: rgb(222, 0, 0);
        color: black;
    }

    100% {
        /* background: rgb(178, 231, 255); */

    }
}

.sideBarDeskItem.active .selectDeskText {
    color: #000;
    font-weight: bold;
}



@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}


@media only screen and (max-width: 830px) {
    /* .PagesNameParentDiv ul li{
        color: var(--cyan);
    } */

    .headerLogo {
        width: 80px;
        height: 60px;
    }

    .PagesNameParentDiv {
        display: none;
    }
}